.container{
    margin-top: 45vh;
    color: white;
   margin-left: 3%;
   background-color: aqua;
   height: 20vh;
   border-radius: 10px;
   font-family: Roboto;
   width: 32vw;
}
.dateTime{
    background-color:#FF4ADE;
    height: 8vh;
    text-align: center;
    word-spacing: 100px;
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}
.bottomSection{
    background-color: #101744;
    height: 15vh;
    display: flex;
    gap: 20px;
    padding:10px ;
}
.bottomSectionElements{
 padding:5px;
 text-align: center;
 height: 12vh;
 width: 9vw;
}
.bottomSectionElements img{
    height: 35px;
}
.bottomSection span{
    font-size: 40px;
    opacity: 0.5;
}